* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

/* common css end */

.container {
  width: 1120px;
  margin: 0 auto;
}

#header {
  background-color: #e74d58;
  padding: 20px 0;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  width: 10%;
}

.language ul li a {
  color: white;
}

.language ul li {
  position: relative;
}

.language ul li ul {
  position: absolute;
  top: 30px;
  left: -5px;
  opacity: 1;
  padding: 5px 15px;
  background-color: #e74d58;
  opacity: 0;
}

.language ul li ul li {
  width: 100%;
}

.language ul li:hover>ul {
  opacity: 1;
}

.email {
  width: 5%;
}

.email_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email_icon a i {
  color: white;
  padding-right: 10px;
}

.email_icon a:hover {
  color: #002e5b;
}

.email_id a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.email_id a:hover {
  color: #002e5b;
}

.void {
  width: 50%;
}

.social_icon {
  width: 20%;
  text-align: end;
  padding-right: 50px;
}

.icon_inner i {
  padding: 0 7px;
  color: white;
}

.icon_inner a i:hover {
  color: #002e5b;
}

.quote {
  width: 20%;
  text-align: center;
}

.quote a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white;
  height: 100%;
  display: block;
}

.quote:hover {
  background-color: #002e5b;
  color: white;
}

/* header end */

/* Nav start */

#navbar {
  padding: 50px 0;
  box-shadow: 5px 5px 5px 0.5;
}

.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 18%;
}

.menu {
  width: 50%;
  text-align: left;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  position: relative;
}

.menu ul li ul {
  position: absolute;
  top: 20px;
  left: -20px;
  text-align: center;
  opacity: 0;
  display: block;
}

.menu ul li ul li a {
  padding: 10px 10px;
}

.menu ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: bold;
}

.menu ul li a:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #e74d58;
}

.menu ul li:hover>ul {
  opacity: 1;
}

.contact {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact_img a i {
  font-size: 30px;
  color: #e74d58;
}

.call_details h2 {
  font-family: 'Roboto', sans-serif;
  font: 24px;
  font-weight: bold;
  color: #e74d58;
}

.call_details p {
  font-family: 'Roboto', sans-serif;
  font: 16px;
  color: #9baab9;
}

/* nav end */

/* banner start*/
#banner {
  padding: 175px 0;
}

.background_square {
  width: 680px;
  height: 590px;
  position: absolute;
  right: 80px;
  top: 350px;
  z-index: -1;
}

.background_square img {
  width: 100%;
}

.background_triangle {
  width: 510px;
  height: 750px;
  position: absolute;
  right: 30px;
  top: 300px;
  z-index: -2;
}

.background_triangle img {
  width: 100%;
}

.banner_text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0;
  position: relative;
  width: 700px;
}

.banner_text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  color: #002e5b;

}

.banner_text h4 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #e74d58;
}

.banner_text h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: #002d5b;
}

.banner_text h2 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 72px;
  color: #e74d58;
}


.banner_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #002e5b;
  padding: 45px 0;
}

.placeholder {
  position: relative;
}

.placeholder_img {
  position: absolute;
  top: -40px;
  left: -50px;
  z-index: -1;
}

.placeholder input {
  height: 50px;
  border: none;
  margin-left: 20px;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #9eaab6;
  background-color: white;
  padding: 13px 0;
}

button {
  background-color: #e74d58;
  border-radius: 30px;
  padding: 20px 60px;
  color: white;
  font-weight: bold;
  border: none;
  position: absolute;
  left: 320px;
  top: -10px;
}

/* banner part end */

/* about us start */

#about_us {
  background-color: #002e5b;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutus_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_us_head {
  width: 48%;
  position: relative;
}

.about_us_head h5 {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 35px;
}

.about_us_head h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
  padding-bottom: 220px;
}

.about_us_head h1 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.business_insights {
  width: 410px;
  padding: 35px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3e;
  position: absolute;
  top: 400px;
  left: 100px;
}

.business_insights h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.business_insights_icon {
  font-size: 30px;
  position: absolute;
}

.business_insights_icon i {
  color: red;
}

.business_insights_icon_inner {
  position: relative;
  top: 3px;
  left: 8px;
  line-height: 30px;
}

.business_insights_icon_inner a i {
  font-size: 10px;
  text-align: center;
}

.business_insights_icon_inner a i {
  font-size: 20px;
  color: white;
}

.business_insights_text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.about_us_text {
  width: 48%;
}

.about_us_text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e7e7e7;
}

.about_us_text h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #e7e7e7;
}

.about_us_text h5 span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.about_us_text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#services {
  padding: 120px 0;
}

.services_left {
  width: 50%;
  background-color: white;
}

.services_main {
  background: url(../Images/services_background.jpg) no-repeat right / cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
}

.services_background {
  width: 500px;
  height: 800px;
  position: absolute;
  top: -50px;
  right: -150px;
  z-index: -1;
}

.services_background img {
  width: 100%;
}

.services_item {
  width: 50%;
  display: flex;
  align-items: top;
  padding: 35px;
}

.services_icon i {
  color: red;
  font-size: 40px;
  padding-right: 30px;
}

.services_text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #002e5b;
  font-weight: bold;
}

.services_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #777777;
  width: 325px;
  padding: 12px 0;
}

.services_right {
  width: 50%;
  align-items: center;
  background-color: white;
}

#counter {
  background-color: #002d5b;
  padding: 60px 0;
}

.counter_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter_item {
  width: 23%;
}

.counter_text {
  position: relative;
}

.counter_text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.counter_text h3 span {
  font-size: 16px;
}

.counter_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #728ca5;
}

.counter_object img {
  position: absolute;
  left: 0;
}

/* counter end */

/* approach section start */

#our_approach {
  padding: 120px 0;
}

.approach_head {
  text-align: center;
}

.approach_head h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #e74d58;
  text-transform: uppercase;
  padding: 30px 0;
}

.approach_head h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #002e5b;
  padding-bottom: 60px;
}

.approach_head h1 span {
  font-weight: 100;
}

.approach_item {
  width: 32%;
}

.approach_item img {
  width: 100%;
}

.approach_item_text h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
  padding: 30px 0 25px 0;
}

.approach_item_text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #002e5b;
  border-bottom: #777777 solid 1px;
  padding-bottom: 25px;
}

.approach_item_text h3 span {
  font-weight: 100;
}

.approach_item_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #777777;
  padding-top: 29px;
}

.approach_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* approach section end */

/* support section start */

#support {
  padding: 135px 0 140px 0;
  background: linear-gradient(to right, rgba(8, 8, 8, 0.42), rgba(206, 208, 206, 0.5));
}

.support_main_text h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 27px 0;
}

.support_main_text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
  width: 600px;
}

.support_main_text h3 span {
  font-weight: 100;
}

.support_main_text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 100;
  color: #e74d58;
}

.support_main_text {
  position: relative;
}

.support_main_text button {
  position: absolute;
  top: 360px;
  left: 0;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid #b7b4b4;
}

/* support end */

/* team start */

#team {
  padding: 120px 0;
  text-align: center;
}

.team_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team_head h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #e74d58;
  padding: 30px 0;
}

.team_head h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #002e5b;
  padding-bottom: 60px;
}

.team_head h3 span {
  font-weight: 100;
}

.team_item {
  width: 23%;
  text-align: left;
}

.item_image {
  position: relative;
}

.team_item img {
  width: 100%;
}

.team_item h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 22px 0;
  color: #e74d58;
  text-transform: uppercase;
}

.team_item h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #002d5b;
  font-weight: bold;
}

.team_item h3 span {
  font-weight: 100;
}

.team_item p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #777777;
  padding-top: 45px;
}

.team_overlay {
  position: absolute;
  content: '';
  top: 60px;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba (0, 0, 0, 0.5);
  text-align: end;
  margin-right: 10px;
  transition: .3s;
}

.team_overlay i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #818181;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.team_overlay i:hover {
  background-color: #e74d58;
  color: white;
}

.team_overlay_expand {
  position: absolute;
  content: '';
  bottom: -20px;
  right: 0;
}

.team_overlay_expand i {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* clients start */

#clients {
  background-color: #002e5b;
}

.clients_main {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients_item {
  width: 23%;
}

/* clients end */

#why_choose {
  padding: 120px 0;
}

.why_choose_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why_choose_img {
  width: 48%;
}

.why_choose_img img {
  width: 100%;
}

.why_choose_text {
  width: 48%;
  position: relative;
}

.choose_text_head h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #e74d58;
  padding: 25px 0;
}

.choose_text_head h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: #002d5b;
  font-weight: bold;
  padding-bottom: 73px;
}

.choose_text_head h3 span {
  font-weight: 100;
}

.choose_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choose_item p {
  width: 360px;
}

.choose_img {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -1;
}

.choose_icon1 i {
  font-size: 30px;
  color: #e74d58;
  position: absolute;
  top: 235px;
  left: 38px;
}

.choose_icon2 i {
  font-size: 30px;
  color: #e74d58;
  position: absolute;
  top: 405px;
  left: 55px;
}

.choose_icon3 i {
  font-size: 30px;
  color: #e74d58;
  position: absolute;
  top: 550px;
  left: 55px;
}

.choose_item_text h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #002d5b;
}

.choose_item_text h4 span {
  font-weight: 100;
}

.choose_item_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #777777;
  padding: 30px 0;
}

/* why choose section end */

/* Newsletter start */

#newsletter {
  padding: 80px 0;
  background-color: #002d5b;
  border-bottom: #e74d58 solid 2px;
}

.newsletter_text {
  width: 60%;
  position: relative;
}

.newsletter_background {
  width: 40%;
}

.icon_background {
  position: absolute;
  top: 0;
  right: 0;
}

.icon_background img {
  z-index: -1;
}

.newsletter_text h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #e74d58;
  padding: 25px 0;
}

.newsletter_text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: white;
  font-weight: bold;
  padding-bottom: 40px;
}

.newsletter_text h1 span {
  font-weight: 100;
}

.newsletter_placeholder_background {
  position: absolute;
  z-index: -1;
}

.newsletter_form input {
  background-color: #073665;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-right: 10px;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #7795b1;
  background-color: transparent;
  border: none;
  padding-left: 20px;
}

.newsletter_button {
  position: absolute;
  top: 0;
  left: 0;
}

.icon_background {
  position: absolute;
  top: 0;
  right: -250px;
}

/* footer section starts */

#footer {
  padding: 105px 0 100px 0;
  background-color: #002d5b;
  border-bottom: 1px solid white;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.footer_companydetails {
  width: 28%;
}

.footer_logo img {
  padding-bottom: 33px;
}

.company_details_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #97adc2;
  line-height: 30px;
}

.company_call_details {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.company_call_details i {
  padding-right: 25px;
  color: #e74d58;
  font-size: 30px;
}

.company_call_details h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
}

.company_call_details p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #678cb1;
}

.footer_quicklinks {
  width: 18%;
}

.quicklinks_head h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 28px;
}

.quicklinks_text a {
  padding: 12px 0;
  color: #34597f;
}

.footer_information {
  width: 18%;
}

.information_head h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 28px;
}

.information_text a {
  padding: 12px 0;
  color: #34597f;
}

.footer_social_icon_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_social_icon_inner i {
  border: 1px #34597f solid;
  border-radius: 25px;
  font-size: 20px;
  padding: 12px;
  color: #34597f;
}

.footer_social_icon_inner i:hover {
  color: white;
  background-color: #17519d;
}

.footer_address {
  width: 28%;
}

.address_head h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 28px;
}

.address_text_item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.address_text_item i {
  color: white;
  font-size: 30px;
  padding-right: 25px;
}

.address_text_item p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #678cb1;
  font-weight: 500;
  line-height: 30px;
}

#endnote {
  padding: 33px 0;
  background-color: #00264c;
  border-bottom: solid 1px white;
}

.endnote_main {
  display: flex;
  justify-content: space-between;
}


.endnote_left p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #678cb1;
}

.endnote_left p span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.endnote_right_text a {
  font-family: 'Roboto', sans-serif;
  color: #34597f;
  font-size: 16px;
  padding: 0 25px;
}